img {
    width: 0;
    min-width: 100%;
    height: 400px;
    object-fit: cover;
}
.gallery {
    width: 1200px;
    display: grid;
    grid-auto-flow: column;
   
}

.img_1 {
    transition: 3s;
}
.img_2 {
    transition: 3s;
}
.img_1:hover{
    border-radius: 20px 0px 0px 20px;
    width: 200px;
}
.img_2:hover {
    width: 200px;
    border-radius: 0px 20px 20px 0px;
}
body {
    /* width:  60%; */
    background-image: url("https://i4.imageban.ru/out/2010/12/01/652d533d3271a37c768ee9ffeab11c4c.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 935px;
}
section {
    max-width: 1200px;
    margin: 0 auto;
}
.title { 
    text-align: center;
    color: aliceblue;
}
span {
    font-size: 50px;
}